= stylesheet_link_tag 'posts', media: 'all'

= form_with(model: post, local: true) do |form|
  - if post.errors.any?
    #error_explanation
      %h2
        = pluralize(post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - post.errors.full_messages.each do |message|
          %li= message
  .form-group
    = form.label :title, 'Titulo'
    = form.text_field :title, class: "form-control"
  .form-group
    = form.label :content, 'Texto'
    = form.hidden_field :content, id: :content_text
    %trix-editor{:input => "content_text"}
  .actions
    = form.submit 'Salvar', class:"btn btn-success"