= stylesheet_link_tag 'posts', media: 'all'

%p#notice= notice
.container
  .btn-group.pull-right
    %button.btn.btn-info.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
      Orderna
      %span.caret
    %ul.dropdown-menu
      %li
        %a= ordenador('title', 'Por Titulo')
      %li
        %a= ordenador('created_at', 'Por Data de Postagem')
      %li
        %a= ordenador('updated_at', 'Por Data de Mudança')

  - @posts.each do |post|
    .row
      .col-md-10.blogShort
        %h2= post.title
        %article
          %p=truncate(sanitize(post.content, tags: [], attributes: []), :length => 200)

        = link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-danger pull-right margin10"
        = link_to 'Editar', edit_post_path(post), class:"btn btn-warning pull-right margin10"
        = link_to 'Leia mais', post, class:"btn btn-success pull-right margin10"
%br/
= link_to 'New Post', new_post_path, {:class => "btn btn-primary margin10"}
