%p#notice= notice
%p
  %strong Title:
  = @post.title
%p
  %strong Content:
  = @post.content
%br
-if @star.with_star?
  =link_to rated_path(@post), method: :patch do
    %i.glyphicon.glyphicon-star
- else
  =link_to rated_path(@post), method: :patch do
    %i.glyphicon.glyphicon-star-empty
%p= @star.star_count

= link_to 'Edit', edit_post_path(@post)

= link_to 'Back', posts_path
%br
= render 'commentaries/form', commentary: @new_commentary
= render 'commentaries/index', commentaries: @commentaries
