%p#notice= notice
.container
  .row
    .col-md-10.blogShort
      %h2= @post.title
      %article
        %p=sanitize(@post.content)
%br

#star_partial.pull-right
  =render 'star', star: @star

= link_to 'Edit', edit_post_path(@post), class:"btn btn-primary margin10"

= link_to 'Back', posts_path, class:"btn btn-success margin10"
%br
%br

= render 'commentaries/form', commentary: @new_commentary
= render 'commentaries/index', commentaries: @commentaries
